*.png
*.pdf
*.swp
__pycache__/
*/.ipynb_checkpoints/
spock.egg-info/
training_data/
data*
paper_plots/*.csv
spock/models/AMD.json
spock/models/hill.json
spock/models/megno.json
spock/models/nbody.json
dist/*
temp.bin
spock/test/temp.bin
